:root {
  --heading-font: "Cormorant Garamond", serif;
  --accent-background-color: lightgray;
  --accent-color: black;
  --transition: ease-in-out 0.3s;
}

html,
body {
  scroll-behavior: smooth;
  scroll-padding-top: 28vh;
}

h1,
h2 {
  font-family: var(--heading-font);
  font-weight: bold;
}
h2 {
  font-size: 7vw;
}
h3,
h5 {
  font-family: var(--heading-font);
  font-weight: bold;
}
a {
  color: black;
  text-decoration: none;
  padding: 0px;
}
a:hover {
  color: inherit;
  text-decoration: inherit;
}

nav {
  background-color: var(--accent-background-color);
  border-bottom: 1px solid;
  padding: 15px 50px !important;
}
footer {
  background-color: var(--accent-color);
  border-top: 1px solid;
}
h6 {
  font-weight: light;
  font-size: xx-small;
  text-align: right;
}
h6,
h6 a,
h6 i {
  color: white !important;
}
hr {
  background-color: #1d2124;
  margin: 30px 0;
}

.container {
  width: 90%;
  margin: 175px auto 30px auto;
  padding: 0;
}

/* navbar */
.nav-link {
  font-size: 20px;
}
.logo {
  font-size: 60px;
  text-decoration: none;
  color: black;
  font-family: var(--heading-font);
  line-height: 20px;
  padding: 25px 0 10px 0;
  text-align: center;
}
.logo:hover {
  text-decoration: inherit;
  color: inherit;
}
.logo span {
  font-size: 20px;
}

/* homepage */
.front-page {
  height: 100vh;
  position: relative;
}
.front-page:before {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background-image: url("/media/salon-front.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.front-page-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 20vw;
}

.fas,
.fab {
  color: black;
}

.great-hair {
  width: 80vw;
}
.front-page-content h5 {
  font-size: 3vw;
}

.body-wrap {
  margin: 0 15%;
  padding: 40px 0;
}
.sm-spacer {
  padding-top: 80px;
}
.hr {
  width: 50vw;
}
.appointment-info {
  background-color: lightgray;
}
.faq:hover {
  cursor: pointer;
}
.question {
  border-bottom: 1px solid;
}
.question i {
  font-size: 15px;
  float: right;
  line-height: 1.5;
  margin-right: 5px;
}
.answer {
  display: none;
}
.address {
  font-family: var(--heading-font);
  font-size: 20px;
}
.map-responsive {
  display: block;
  margin: 20px auto;
}
.map-responsive iframe {
  height: 100%;
  width: 100%;
}

/* gallery */
.gallery-navbar {
  background-color: var(--accent-color);
}
.gallery-navbar .logo {
  color: white;
}
.carousel-inner {
  height: 100vh;
  background-color: var(--accent-color);
}
.carousel-inner a {
  padding-top: 15vh;
}
.carousel-item {
  padding-top: 85px;
}
.carousel-item img {
  height: 100vh;
  margin: 0 auto;
}

/* prices */
.price-subtitle {
  font-size: 16px;
  text-decoration: underline;
}

/* products */
.john-mitchell-wrap {
  margin-top: 150px;
}
.cloud-nine-wrap {
  background-color: var(--accent-background-color);
  padding: 50px 0;
  margin: 50px 0;
}
.products-p {
  margin: 20px 40px;
}
.btn {
  margin: 0 auto;
  transition: var(--transition);
}
.btn-light {
  background-color: var(--accent-background-color);
  border-color: var(--accent-background-color);
}
.btn-light:hover {
  background-color: transparent;
  border-color: #1d2124;
  color: black;
}
.btn-dark:hover {
  background-color: transparent;
  color: black;
}

/* eco */
.eco a {
  font-weight: bold;
}
.eco a:hover {
  text-decoration: underline;
}
.heart-wrap {
  text-align: center;
  margin-bottom: 10px;
}
.heart-wrap i {
  color: red;
  font-size: 25px;
}
.in-truth {
  margin-bottom: 0;
}

/* contact */
.contact-navbar {
  background-color: var(--accent-color);
}
.contact-navbar .logo {
  color: white;
}
.contact-wrapper {
  width: 90%;
  margin: 0 auto;
}
.contact-icons {
  height: 95vh;
  padding-top: 35vh;
}
.contact-address {
  height: 95vh;
}
.contact-address h3 {
  padding-top: 35vh;
}
.contact-link {
  font-size: 100px;
  color: var(--accent-color);
}
.contact-link:hover {
  transition: 1.25s;
  transform: rotateZ(360deg);
}
.fa-facebook-square:hover {
  color: #0572e6;
}
.fa-instagram-square:hover {
  color: #c01f6a;
}
.fa-phone-square-alt:hover {
  color: #35bb48;
}
.fa-envelope-square:hover {
  color: #ac2f20;
}
.fa-map-marker-alt:hover {
  color: #f78e24;
}

/* kelcodes */
.open-source-link,
.open-source-link:hover,
.fa-spider {
  color: var(--accent-color);
}
.fa-spider:hover {
  transition: 1s;
  transform: rotateX(180deg);
}

@media (max-width: 450px) {
  .front-page-content {
    height: 100px;
  }
  .great-hair {
    width: 340px;
  }
  .front-page-content h5 {
    font-size: 20px;
  }
  .wrapper {
    padding: 150px 50px 15px 50px;
  }
  .contact-icons {
    padding-top: 26vh;
  }
  .contact-address {
    height: 102vh;
  }
}
@media (max-width: 600px) {
  nav {
    padding: 15px 25px !important;
  }
  h2 {
    font-size: 50px;
  }
  .body-wrap {
    margin: 0 5%;
    padding: 40px 0;
  }
  .products-p {
    margin: 20px 0px;
  }
}
@media (max-width: 992px) {
  .md-hidden {
    display: none;
  }
}
@media (min-width: 1000px) {
  .front-page-content {
    height: 200px;
  }
  .great-hair {
    width: 800px;
  }
  .front-page-content h5 {
    font-size: 25px;
  }
  .sm-product-img {
    width: 250px;
  }
  .lg-product-img {
    width: 190px;
  }
  .contact-wrapper {
    max-width: 1500px;
  }
}
